.home{
    .banner{
        min-height: 90vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5rem 10rem;
        color: #fff;
        justify-content: center;
        .title{
            z-index: 2;
        }
        .button-section{
            text-align: right;
            margin-top: 3rem;
            button{

                &:hover{
                    background-color: var(--main-color);
                    color: white;
                }
            }
        }
        
        svg#wave{
            position: absolute;
            left: 0;
            z-index: 1;
        }
    }

    .about{
        background: var(--secondary-background-color);
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        .presentation{
            display: flex;
            text-align: center;
            height: -moz-fit-content;
            z-index: 10;
            padding: 5rem;
            .text{
                padding: 5rem;
                h1{
                    color: var(--background-color);
                }
                p{
                    color: var(--background-color);
                }
            }
            img{
                border-radius: 50%;
                height: fit-content;
            }
        }
    }
}

.sections{
    display: flex;
    justify-content: space-evenly;
    color: white;
    align-items: center;

    a{
        border: 1px solid var(--border-secondary-color);
        height: 10vh;
        align-items: center;
        display: flex;
        padding: auto;
        width: 100%;
        justify-content: center;
        &:hover{
            background-color: var(--main-color-hover);
            cursor: pointer;
            color: white;
        }
    }
}

@media (max-width: 725px){
    .presentation{
        padding: 5rem 0rem;
        display: block;
        img{
            height: 40% !important;
            width: 40% !important;
        }
    }
}

@media (max-width: 500px){
    .home{
        .banner{
            padding: 2rem;
        }
        .about{
            .presentation{
                padding: 5rem 0rem;
                display: block;
                img{
                    height: 60%;
                    width: 60%;
                }
            }
        }
    }
}

@media (max-width: 1024px){
    .home{
        .about{
            .presentation{
                img{
                    height: 30rem;
                    width: 30rem;
                }
            }
        }
    }
}
